{% extends "base.html" %}

{% block nav_items %}
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/workers">Workers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/queues">Queues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jobs">Instant Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schedulers">Scheduled Jobs</a>
      </li>
    </ul>
{% endblock %}

{% block main_section %}
    <div class="row mb-3">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Queues</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Queues</th>
                                <th>Jobs</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rq_queue in rq_queues %}
                                <tr>
                                <td>{{ rq_queue }}</td>
                                <td>0</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Workers</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Worker</th>
                                <th>Queue</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rq_worker in rq_workers %}
                                <tr>
                                <td>{{ rq_worker }}</td>
                                <td>{{ rq_worker }}</td>
                                <td>&nbsp;</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Instant Jobs</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for j in job_list %}
                                <tr>
                                <td>{{ j.id }}</td>
                                <td>{{ j.status }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Scheduled Jobs</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for j in scheduled_jobs %}
                                <tr>
                                <td>{{ j.id }}</td>
                                <td>{{ j.status }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
